@import 'bootstrap.min.css';

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url('../imgs/noise.png');
    font-family: Didot;
}

@media screen and (min-width: 1000px) {
    .centered {
        font-size: 300%;
    }
}

@media screen and (min-width: 510px) and (max-width: 1000px) {
    .centered {
        font-size: 200%;
    }
}

@media screen and (max-width: 510px) {
    .centered {
        font-size: 100%;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.menu-toggle {
    color: #d17c7c;
}

.menu-toggle:hover {
    color: rgb(255, 255, 255);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px #000000;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #d17c7c;
}

::-webkit-scrollbar-thumb {
    background: rgb(102, 44, 44);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(92, 39, 39);
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
    overflow-x: hidden;
}

.navbar {
    background: rgb(102, 44, 44) !important;
    border-left: 1px solid rgb(92, 39, 39);
}

#sidebar-wrapper {
    width: 15rem;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background: rgb(102, 44, 44);
    -webkit-box-shadow: 6px 0px 29px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 0px 29px 6px rgba(0,0,0,0.75);
    box-shadow: 6px 0px 29px 6px rgba(0,0,0,0.75);
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.15rem;
    font-size: 1.2rem;
    color: white;
    border-bottom: 1px solid rgb(92, 39, 39);
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper .list-group a:first-child {
    margin-top: 50%;
}

#sidebar-wrapper .list-group a {
    width: 15rem;
    text-align: center;
    margin: 30px 0 30px 0;
    color: rgb(145, 106, 106);
    border: 0;
    background: transparent !important;
}

#sidebar-wrapper .list-group a:hover {
    color: white;
}

#page-content-wrapper {
    position: relative;
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

#bigImage img {
    border: 5px solid rgb(102, 44, 44) !important;
}

#portfolio-imgs div {
    border: 3px solid rgb(102, 44, 44) !important;
}

#portfolio-imgs div:hover {
    border: 3px solid rgb(77, 33, 33) !important;
    -webkit-box-shadow: 6px 0px 29px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 0px 29px 6px rgba(0,0,0,0.75);
    box-shadow: 6px 0px 29px 6px rgba(0,0,0,0.75);
}