body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url('../imgs/noise.png');
    font-family: Didot;
}

hr {
    border: 2px solid rgb(102, 44, 44);
}

.principal-div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.menu-div {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
    font-weight: bold;
    background: rgb(102, 44, 44);
    -webkit-box-shadow: 6px 0px 29px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 0px 29px 6px rgba(0,0,0,0.75);
    box-shadow: 6px 0px 29px 6px rgba(0,0,0,0.75);
}

.menu-div ul {
    list-style: none;
    margin-top: 50%;
    padding: 0;
}

.menu-div ul li {
    text-align: center;
    padding: 10% 10% 10% 10%;
}

.menu-div ul li a {
    color: rgb(145, 106, 106);
    text-decoration: none;
}

.menu-div ul li a:hover {
    color: white;
}

.active {
    color: white !important;
}

.body-div {
    width: 75%;
    height: 100%;
    float: left;
    position: relative;
    overflow-y: scroll;
}

.body-div .container {
    height: 100%;
    color: white;
}

#home {
    margin: 3%;
    height: 100%;
}

#home img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#home p {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    color: white;
    text-shadow: 0px 0px 5px #000000;
    font-size: 300%;
    text-align: center;
}

#portfolio {
    margin: 3%;
    height: 100%;
}

#portfolio img {
    width: 100%;
    height: 90%;
}

#portfolio p {
    left: 0;
    right: 0;
    top: 40%;
    color: white;
    text-shadow: 0px 0px 5px #000000;
    font-size: 150%;
    text-align: center;
}

#contato {
    margin: 3%;
    height: 100%;
}

.footbar {
    position: relative;
    width: 100%;
    font-size: 80%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    background: rgb(102, 44, 44);
}

.div-input {
    padding: 1%;
    width: 98%;
}

.div-btn {
    text-align: right;
    padding: 1%;
    width: 99%;
}

.input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 7px;
}

.btn {
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    color: white;
    border: 0;
    background: rgb(109, 23, 23);
    border-radius: 5px;
}

.btn:hover {
    color: rgb(255, 255, 255);
    background: rgb(88, 4, 4);
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #d17c7c;
}

::-webkit-scrollbar-thumb {
    background: rgb(102, 44, 44);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(92, 39, 39);
}
